@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

::selection {
	background-color: #920797;
	color: #fff;
}

* {
    font-size: 1rem;
}

body {
    font: 400 1rem Nunito, sans-serif;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

a {
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}